/*  your css code here. If applicable */
.main-container {
	background-color: #f5f5f5;
	padding: 20px;
	height: 720;
	width: 1280;
}
.main-container .item {
	background-color: #fff;
	padding: 5px 10px;
	border: 1px solid gray;
	/* display: flex;
	justify-content: space-between; */
	margin-bottom: 15px
}
.item p {
	margin: 0
}
.item .author {
	text-align: right;
	font-style: italic
}










